.map {
  height: 100vh;
  padding: 0;
}

.no-mlr {
  margin-left: 0;
  margin-right: 0;
}

.no-p {
  padding: 0;
}

#featureProperties {
  background-color: #8d9bb1;
}

.info-use {
  color: #0b4045;
  padding: 1rem;
  line-height: 2.4rem;
  font-size: 1.8rem;
}

.info-box {
  background-color: #4285F4;
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
  min-height: 210px;
}

.pharmacy-box {
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
}

.pharmacy-box a {
  color: #fff;
}

.opening-hours {
  color: #fff;
  padding: 1rem;
}

.opening-hours td {
  font-size: 1.4rem;
  padding-left: 0;
  padding-right: 0;
}

.opening-hours td.bold {
  font-weight: bold;
}
