<app-navigation (searchTerm)='searchPharmacies($event)'></app-navigation>
<div class="container">
  <ul class="list-unstyled">
    <li *ngFor="let item of pharmacyData['pharmacies'];">
      <app-pharmacy-form [item]=item></app-pharmacy-form>
    </li>
  </ul>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="./dashboard?page={{ prevPagination }}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="/dashboard">1</a></li>
      <li class="page-item"><a class="page-link" href="/dashboard">2</a></li>
      <li class="page-item"><a class="page-link" href="/dashboard">3</a></li>
      <li class="page-item"><a class="page-link" href="./dashboard?page={{ nextPagination }}">Next</a></li>
    </ul>
  </nav>
</div>
